/*--------------------*/
/*  Cabinet Menu      */
/*--------------------*/
.cbn-menu {--cbn-icon: 1.5rem;--cbn-fz: 1rem;display: none;}
.cbn-menu > * + * {margin-top: 1rem;}
.cbn-menu ul {gap: 1rem;display: flex;flex-direction: column;border: 0.0625rem solid var(--clr-border);border-radius: var(--rd-1);padding: 1rem;}
.cbn-menu li {line-height: 0;}
.cbn-item {position: relative;cursor: pointer;display: inline-flex;align-items: center;gap: 0.5rem;font-size: var(--cbn-fz);line-height: var(--cbn-icon);font-weight: 400;color: var(--clr-title);transition: var(--transition-1);}
.cbn-item svg {display: inline-block;width: var(--cbn-icon);height: var(--cbn-icon);flex-shrink: 0;}
.cbn-item b {display: inline-block;white-space: nowrap;}
.cbn-item.is-active {color: var(--clr-primary);pointer-events: none;}
.user-stats {gap: 1rem;display: flex;border: 0.0625rem solid var(--clr-border);border-radius: var(--rd-1);background-color: var(--clr-white);padding: 1.25rem;}
.user-img {--size: 4rem;position: relative;display: inline-block;width: var(--size);height: var(--size);flex-shrink: 0;border-radius: 100%;background-color: var(--clr-primary);color: var(--clr-white);}
.user-img > * {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 1.875rem;height: 1.875rem;max-width: 60%;max-height: 60%;}
.user-info {align-self: center;}
@media (min-width: 1200px) {
.cbn-item:hover {color: var(--clr-primary);}
.cbn-menu {display: block;position: sticky;top: calc(var(--h-height) + 1rem);}
}
/*--------------------*/
/*  Cabinet Form      */
/*--------------------*/
.cbn-form {max-width: 64rem;}
.cbn-form > * + * {margin-top: max(0.875rem, 2.5vw);}
/*--------------------*/
/*  Cabinet Orders    */
/*--------------------*/
.order-table {border-radius: 0.5rem;box-shadow: var(--box-shadow);background-color: var(--clr-white);display: grid;grid-template-rows: 1fr;grid-template-columns: 1fr 1fr 1.25fr 1fr 1fr 1fr;}
.order-tr {background-color: var(--clr-white);grid-column: span 6;display: grid;grid-template-columns: subgrid;padding: 1rem clamp(1rem, 0.58rem + 0.56vw, 1.25rem);}
.order-tr.order-thead {border-radius: inherit;background-color: var(--clr-grey);}
.order-tr:not(.order-thead) + .order-tr:not(.order-detail) {border-top: 0.0625rem solid var(--clr-border);}
.order-tr-empty {padding: 1.25rem;text-align: center;grid-column: span 6;}
.order-tr-empty > * + * {margin-top: 1.5rem;}
.order-td {font-size: var(--text);line-height: 1.44em;color: var(--clr-title);font-weight: 400;}
.order-td b {font-weight: 700;}
.order-detail {position: relative;width: 100%;display: none;}
.order-items > * + * {margin-top: 0.625rem;}
.status {color: var(--accent-clr, var(--clr-text));}
@media (max-width: 767px) {
.order-table {border-radius: 0;box-shadow: none;grid-template-columns: 1fr 1fr;}
.order-tr {border-radius: 0.5rem;border: 0.0625rem solid var(--clr-border);gap: 0.75rem;grid-column: span 2;padding: 0.75rem;}
.order-tr:not(.order-detail) {transition: var(--transition-1) 0.25s;}
.order-tr.order-thead {display: none;}
.order-tr-empty {background-color: var(--clr-white);border-radius: 0.5rem;border: 0.0625rem solid var(--clr-border);}
.order-tr.is-active:not(.order-detail) {border-bottom-color: transparent;border-radius: 0.5rem 0.5rem 0 0;transition: none;}
.order-td:before {content: attr(data-td-title);display: block;text-align: left;font-weight: 700;}
.order-td:last-child {grid-column: span 2;}
.order-detail {border-top: none;border-radius: 0 0 0.5rem 0.5rem;}
.order-detail + .order-tr {margin-top: 0.75rem;}
}
@media (max-width: 575px) {
.order-table {grid-template-columns: 1fr;}
.order-tr {grid-column: span 1;}
.order-td:last-child {grid-column: span 1;}
}