.section-calculator {--filters-width: 25.5rem;--filters-gap: 1.5625rem;--toggle-height: 2.8125rem;--styles-width: 9.9375rem;margin: 0;position: relative;width: 100%;min-height: 100%;display: flex;flex: 1;}
@media (max-width: 991px) {
.section-calculator {flex-direction: column;}
}
/*--------------------*/
/*  STEPPER           */
/*--------------------*/
.stepper-zoom {position: absolute;right: 0;left: 0;top: 1.4375rem;z-index: 1;margin-inline: auto;width: 9.625rem;height: 2.8125rem;padding: 0.6875rem 0.625rem;display: flex;align-items: center;justify-content: center;gap: 0.75rem;background-color: var(--clr-white);}
.stepper-zoom button {width: 1.4375rem;height: 1.4375rem;flex-shrink: 0;font-size: 0;position: relative;cursor: pointer;}
.stepper-zoom button::before,
.stepper-zoom button::after {content: "";display: block;position: absolute;bottom: 0;right: 0;left: 0;top: 0;margin: auto;background-color: var(--clr-black-30);transition: var(--transition-1);}
.stepper-zoom button::before {width: 0.9375rem;height: 0.0625rem;}
.stepper-zoom button::after {width: 0;height: 0;}
.stepper-zoom button.incr::after {width: 0.0625rem;height: 0.9375rem;}
.stepper-zoom input {text-align: center;border-right: 0.0625rem solid var(--clr-black-10);border-left: 0.0625rem solid var(--clr-black-10);height: 1.3125rem;}
.stepper-number {width: 100%;display: flex;align-items: center;}
.stepper-number button {width: 2.5rem;height: 2.5rem;flex-shrink: 0;background-color: var(--bg-4);border: 0.0625rem solid transparent;cursor: pointer;transition: var(--transition-1);}
@media (min-width: 1200px) {
.stepper-zoom button:hover::before,
.stepper-zoom button:hover::after {background-color: var(--clr-black);}
.stepper-number button:hover {border-color: var(--clr-black-10);}
}
/*--------------------*/
/*  ROOMS MAP         */
/*--------------------*/
.rooms-map {position: absolute;left: 0;top: 0;display: flex;align-items: center;justify-content: center;width: calc(100% - var(--filters-width) - var(--filters-gap));height: 100%;}
.rooms-map__image {display: inline-block;vertical-align: top;position: relative;transition: transform var(--transition-1);}
.tooltip {position: absolute;display: inline-flex;align-items: baseline;font-size: var(--h6);font-weight: 500;white-space: nowrap;padding: 0.29em 0.55em;color: var(--clr-black);background-color: var(--clr-white);box-shadow: var(--box-shadow);border-radius: var(--rd-1);}
.tooltip b {font-size: 0.9em;padding-inline: 0.83em 0.28em;color: var(--clr-primary);}
.tooltip span {font-size: 1rem;font-weight: 400;}

.rooms-map .tooltip:not(.active){
    display: none;
}
 

@media (max-width: 991px) {
.rooms-map {position: static;width: 100%;}
}
@media (max-width: 575px) {
.tooltip {font-size: 0.875rem;}
}
/*--------------------*/
/*  FILTERS           */
/*--------------------*/
.filters-close {align-items: center;gap: 0.75rem;background: var(--clr-white-80);backdrop-filter: blur(var(--blur));cursor: pointer;}
.filters-close::after {content: attr(data-toggle-more);}
.filters-close i {width: var(--toggle-height);height: var(--toggle-height);flex-shrink: 0;background: var(--clr-black) url("../img/icons/icon-close.svg") no-repeat center;transition: var(--transition-1);}
.filters-close.active::after {content: attr(data-toggle-less);}
.filters-wrap {--filters-padd: clamp(1rem, 0.788rem + 0.906vw, 1.875rem);}
.filters-wrap .filters-close {flex-direction: row-reverse;padding-left: 0.625em;margin-left: auto;}
.filters-bg {display: flex;flex-direction: column;gap: clamp(1rem, 0.788rem + 0.906vw, 1.875rem);height: calc(100% - var(--toggle-height));padding-block: var(--filters-padd);background: var(--clr-white-80);backdrop-filter: blur(var(--blur));clip-path: inset(0 0 100% 0);transition: var(--transition-1);}
.filters-bg.active {clip-path: inset(0 0 0 0);}
.filters-bg._tabs {--item-size: 1.8125rem;}
.filters-title-wrap {display: flex;align-items: center;justify-content: space-between;padding-inline: var(--filters-padd);}
.filters-title-wrap .sub-links ul {display: flex;gap: 0.3125rem;}
.filters-title-wrap ._tab-item {flex-shrink: 0;width: var(--item-size);height: var(--item-size);line-height: var(--item-size);text-align: center;font-family: var(--ff-2);font-size: 1.25rem;font-weight: 500;border-radius: 100%;background-color: var(--bg-5);color: var(--clr-black-20);}
.filters-title-wrap ._tab-item.is-active {background-color: var(--clr-primary);color: var(--clr-white);}
.filters-title {font-family: var(--ff-2);font-size: clamp(1.125rem, 1.064rem + 0.259vw, 1.375rem);color: var(--clr-black);}
.filters-subtitle {font-size: 1rem;line-height: 1.1;color: var(--clr-black);padding-inline: var(--filters-padd);margin-bottom: 0.9375em;}
.filters {height: 100%;overflow-x: clip;overflow-y: auto;overscroll-behavior-y: none;padding-inline: var(--filters-padd);}
.filters-num-top {font-size: 0.875rem;line-height: 1;color: var(--clr-black-50);margin-bottom: 1.07em;}
.filters-num-row {display: flex;align-items: center;gap: 1.25rem;}
.filters-num-row + * {border-top: 0.0625rem solid var(--clr-border);padding-top: 0.875rem;margin-top: 0.875rem;}
.filters-num-row.type2 {border: none;padding-top: 0;margin-top: 0.9375rem;}
.filter-num-cell {display: flex;align-items: center;}
.filter-num-cell:nth-child(1) {flex: 1;font-size: 1.25rem;font-weight: 500;white-space: nowrap;color: var(--clr-black);}
.filter-num-cell:nth-child(2) {width: 7.5rem;}
.filter-num-cell:nth-child(3) {width: 4.5625rem;justify-content: space-between;}
.filter-num-cell:nth-child(3) span {font-size: 0.875rem;color: var(--clr-black);}
.filter-num-cell input {width: 3.125rem;height: 2.5rem;text-align: center;}
.filter-num-cell input:focus {border-color: var(--clr-border-2);}
.filters-total-square {display: flex;align-items: center;justify-content: space-between;gap: 0.3125rem;color: var(--clr-black);padding-top: 0.875rem;margin-top: 0.875rem;border-top: 0.0625rem solid var(--clr-border);}
.filters-total-square b {display: flex;align-items: center;margin-left: auto;font-weight: 500;color: var(--clr-primary);}
.filters-total-square b::before {content: "";display: block;flex-shrink: 0;width: 1.125rem;height: 1.125rem;margin-right: 0.4375rem;background: url("../img/icons/icon-frame.svg") no-repeat center;}
.filter-opt {--toggle-size: 1.75rem;font-weight: 500;font-size: 20px;line-height: 1;color: var(--clr-black);padding-block: 0.9375rem 0.875rem;border-bottom: 0.0625rem solid var(--clr-border-3);cursor: pointer;}
.filter-opt__top {display: flex;gap: 0.3125rem;}
.filter-opt__icon {flex-shrink: 0;width: 1.25rem;height: 1.25rem;display: flex;align-items: center;justify-content: center;}
.filter-opt__title {font-size: 1.25rem;}
.filter-opt__title small {display: block;font-size: 0.875rem;font-weight: 400;margin-top: 0.25rem;color: var(--clr-black-50);transition: var(--transition-1);}
.filter-opt__title .req {font-weight: 300;color: var(--clr-icon);}
.filter-opt__toggle {width: var(--toggle-size);height: var(--toggle-size);margin-left: auto;position: relative;}
.filter-opt__toggle::before,
.filter-opt__toggle::after {content: "";display: block;position: absolute;bottom: 0;right: 0;left: 0;top: 0;margin: auto;background-color: var(--clr-black);transition: var(--transition-1);}
.filter-opt__toggle::before {width: 1rem;height: 0.0625rem;}
.filter-opt__toggle::after {width: 0.0625rem;height: 1rem;}
.filter-opt__inner {display: none;padding-left: 1.875rem;}
.filter-opt__inner::before {content: "";display: block;height: 0.4375rem;}
.filter-opt__inner > * {padding-top: 0;}
.filter-opt__inner > * + * {margin-top: 0.9375rem;}
.filter-opt__inner .ch-box {min-width: auto;}
.filter-opt.active .filter-opt__toggle::after {opacity: 0;}
.filter-opt.invalid {border-color: var(--clr-primary);}
.filter-opt.invalid small {color: var(--clr-primary);}
.filters-button {display: flex;gap: 0.625rem;padding-inline: var(--filters-padd);}
.filters-button .btn {flex: 1;}
.filters-button .btn-back {flex-shrink: 0;}
.styles-wrap {--filters-padd: clamp(1rem, 0.912rem + 0.282vw, 1.25rem);position: absolute;left: 0;top: 0;}
.styles-wrap .filters-close {width: 100%;}
.styles-wrap .filters-bg {gap: 0;}
.filters-img {position: relative;padding-top: 63.03%;overflow: hidden;cursor: pointer;}
.filters-img::before {content: "";display: block;position: absolute;bottom: 0;right: 0;left: 0;top: 0;z-index: 1;border: 0.125rem solid var(--clr-primary);opacity: 0;transition: var(--transition-1);}
.filters-img + * {margin-top: 0.75rem;}
.filters-img img {transition: var(--transition-1);position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.filters-img.active::before {opacity: 1;}
.style-map {position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.style-map img {position: absolute;left: 50%;top: 50%;max-width: none;-o-object-fit: none;object-fit: none;transform: translate(-50%, -50%);-o-object-position: center;object-position: center;}
.style-map__image {position: relative;width: 100%;height: 100%;transition: var(--transition-1);}
.style-map .marker {position: absolute;width: 2.5rem;height: 2.5rem;display: flex;align-items: center;justify-content: center;border-radius: 100%;background-color: var(--clr-white);color: var(--clr-black);box-shadow: var(--box-shadow-1);transition: var(--transition-1);cursor: pointer;}
.style-map .marker.active {background-color: var(--clr-primary);color: var(--clr-white);}
.rooms-map__image .main-image img:not(.main),
.style-map__image .main-image img{
    position: absolute;
    left: 0;
    top: 0;
    max-width: none;
    -o-object-fit: none;
    object-fit: none;
    transform: translate(0%, 0); 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.rooms-map__image .main-image img[src="#"],
.style-map__image .main-image img[src="#"] {
    display: none;
}
@media (min-width: 992px) {
.filters-wrap {width: var(--filters-width);position: absolute;bottom: var(--filters-gap);right: var(--filters-gap);top: var(--filters-gap);}
.styles-wrap {width: var(--styles-width);position: absolute;left: var(--filters-gap);top: var(--filters-gap);}
}
@media (min-width: 1200px) {
.filters-close:hover i {background-color: var(--clr-black-70);}
.filters-img:not(.active):hover::before {opacity: 1;}
.filters-title-wrap ._tab-item:hover {color: var(--clr-black-50);}
}
@media (max-width: 991px) {
.filters-wrap {position: static;width: 100%;flex: 1;display: flex;}
.filters-bg {height: auto;flex: 1;}
.style-map{
    position: relative;
    height: auto;
    display: block;
}
.style-map:before{
    content: "";
    display: block;
    padding-top: 68%;
}
.style-map__image{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.styles-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.styles-wrap .filters{
    gap: 10px;
    white-space:nowrap;
    display: flex;
overflow: auto;
}
.styles-wrap .filters .filters-img {
    min-width: 122px;
    width: 122px;
    margin: 0;
    padding-top: 0;
    height: 75px;
}
}
@media (max-width: 575px) {
.filter-num-cell:nth-child(1) {font-size: 1rem;}
}




/* new Styles */
.dragging{
    transition: none!important;
}
 [data-markers] .list {
    display: none;
}
[data-markers] .list.active {
    display: block;
}