/*--------------------*/
/*  Helpers           */
/*--------------------*/
/* spacers */
[class*=spacer] {clear: both;width: 100%;}
.spacer-xl {height: var(--sp-xl);}
.spacer-lg {height: var(--sp-lg);}
.spacer-md {height: var(--sp-md);}
.spacer-sm {height: var(--sp-sm);}
.spacer-xs {height: var(--sp-xs);}
/* gutters */
.g-xl,
.gy-xl {--bs-gutter-y: var(--sp-xl);}
.g-lg,
.gy-lg {--bs-gutter-y: var(--sp-lg);}
.g-md,
.gy-md {--bs-gutter-y: var(--sp-md);}
.g-sm,
.gy-sm {--bs-gutter-y: var(--sp-sm);}
.g-xs,
.gy-xs {--bs-gutter-y: var(--sp-xs);}
.g-xl,
.gx-xl {--bs-gutter-x: var(--sp-xl);}
.g-lg,
.gx-lg {--bs-gutter-x: var(--sp-lg);}
.g-md,
.gx-md {--bs-gutter-x: var(--sp-md);}
.g-sm,
.gx-sm {--bs-gutter-x: var(--sp-sm);}
.g-xs,
.gx-xs {--bs-gutter-x: var(--sp-xs);}
/* margins */
.mt-xl {margin-top: var(--sp-xl);}
.mt-lg {margin-top: var(--sp-lg);}
.mt-md {margin-top: var(--sp-md);}
.mt-sm {margin-top: var(--sp-sm);}
.mt-xs {margin-top: var(--sp-xs);}
.mb-xl {margin-bottom: var(--sp-xl);}
.mb-lg {margin-bottom: var(--sp-lg);}
.mb-md {margin-bottom: var(--sp-md);}
.mb-sm {margin-bottom: var(--sp-sm);}
.mb-xs {margin-bottom: var(--sp-xs);}
.mx-auto {margin-inline: auto;}
/* colors */
.clr-white {color: var(--clr-white) !important;}
.clr-black {color: var(--clr-black) !important;}
.clr-primary {color: var(--clr-primary) !important;}
.clr-secondary {color: var(--clr-secondary) !important;}
.clr-green {color: var(--clr-green) !important;}
.clr-red {color: var(--clr-red) !important;}
/* cover */
.image {position: relative;}
.image img {display: block;position: relative;width: 100%;}
:where(.image-cover),
:where(.video-cover),
:where(.image-contain) {position: relative;overflow: hidden;padding-bottom: 50%;}
:where(.image-round) {overflow: hidden;border-radius: 100%;padding-bottom: 100%;}
.video-cover video,
.image-cover img,
.image-contain img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.image-contain img {-o-object-fit: scale-down;object-fit: scale-down;}
a .image-cover img,
a .video-cover video {transition: transform var(--transition-1);}
@media (min-width: 1200px) {
a:hover .image-cover img,
a:hover .video-cover video {transform: scale(1.04);}
}
/* icon */
.icon {--size: 1.5rem;display: inline-block;width: var(--size);height: var(--size);flex-shrink: 0;}
.icon > * {display: block;width: 100%;height: 100%;}
/*--------------------*/
/*  BANNER            */
/*--------------------*/
.banner-section {margin-top: 0;}
.banner {position: relative;}
.banner.full .banner-align {padding-inline: var(--h-gutter);padding-block: max(1rem, 2vw);}
.banner-media {position: absolute;overflow: hidden;z-index: 0;inset: 0;}
.banner-media img,
.banner-media video {z-index: 0;position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.video {position: absolute;z-index: 1;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;clip: rect(auto, auto, auto, auto);display: none;}
.video.video-present {display: block;overflow: hidden;}
.video video {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: auto;height: auto;min-width: calc(100% + 8px);min-height: calc(100% + 8px);}
.banner-align {position: relative;z-index: 1;display: table-cell;vertical-align: middle;width: 625rem;height: auto;}
.banner-align.align-bottom {vertical-align: bottom;}
.banner-align.align-top {vertical-align: top;}
.banner-info > * + * {margin-top: calc(var(--sp-sm) + 0.625rem);}
.banner-container {max-width: 79rem;margin-inline: auto;}
.banner-container.size2 {max-width: 37.8125rem;}
.banner-container.size2 .banner-form > * + * {margin-block: 1.25rem;}
.banner-container.size2 .banner-form .ch-box-wrap {padding-top: 0;margin-block: 0 2.5rem;}
.banner-container.size2 .banner-form .h6 {line-height: 1.3;max-width: 29.4375rem;margin-inline: auto;}
.banner-container.size2 .banner-form .btn-stack {margin-block: 0;}
.banner-container.size2 .text {margin-bottom: 2rem;}
.banner-container.size2 .form-buttons {margin-bottom: 0;}
.banner-container.size2 .btn {margin-top: 0;}
.banner-container.size2 .btn:not(.btn-border) {padding-block: .688em;}

.banner-row {--bs-gutter-x: clamp(1.875rem, 0.039rem + 7.832vw, 9.438rem);display: flex;align-items: center;margin-inline: calc(var(--bs-gutter-x) * -0.5);}
.banner-col {flex-shrink: 0;padding-inline: calc(var(--bs-gutter-x) * 0.5);}
.banner-left {width: 58.6%;}
.banner-right {width: 41.4%;}
.banner-steps {counter-reset: item;}
.banner-steps > * + * {margin-top: 0.625rem;}
.banner-step {--clr-title: var(--clr-black);--img-size: 4.375rem;counter-increment: item;display: flex;align-items: center;gap: 0.75rem;padding: 0.5rem 1.5rem;font-weight: 500;background-color: var(--clr-white);}
.banner-step img {margin-left: auto;max-width: var(--img-size);max-height: var(--img-size);opacity: 0.2;flex-shrink: 0;}
.banner-step__title {max-width: 21.3125rem;font-size: var(--h6);color: var(--clr-title);line-height: 1.2;}
.banner-step::before {content: counter(item) ". ";flex: 0 0 0.93em;max-width: 0.93em;font-family: var(--ff-3);font-size: var(--h1);font-weight: 800;line-height: 1.4;color: var(--clr-primary);}
.banner-form {--clr-title: var(--clr-black);padding: calc(var(--sp-sm) + 0.625rem);background-color: var(--clr-white);}
.banner-form > * + * {margin-top: var(--sp-sm);}
.banner-form .text {
    --clr-text: var(--clr-black-50);
    font-size: 1rem;
}
.banner-form .h6 {font-size: clamp(1rem, 0.868rem + 0.423vw, 1.375rem);}
.banner-form__title {line-height: 1.3;}
@media (min-width: 768px) {
.banner {--clr-title: #fff;--clr-text: rgba(255, 255, 255, .7);}
.banner-media::before {content: "";position: absolute;z-index: 1;inset: 0;background-color: var(--clr-black-35);}
.banner-align {height: clamp(22.5rem, 7.76rem + 30.7vw, 40rem);}
}
@media (min-width: 1200px) {
.banner.full .banner-align {height: calc(100svh - var(--h-height));}
.banner-slider .swiper-button-prev {left: 1rem;color: var(--clr-white);}
.banner-slider .swiper-button-next {right: 1rem;color: var(--clr-white);}
}
@media (max-width: 1199px) {
.banner-row {flex-direction: column;gap: calc(var(--sp-sm) + 0.625rem);}
.banner-left,
.banner-right {width: 100%;}
.banner-right {order: -1;}
.banner-right .title {margin-bottom: calc(var(--sp-sm));}
.banner-steps {margin-top: 0;}
}
@media (max-width: 767px) {
.banner-media {position: relative;padding-top: 56.25%;}
.banner-container.size2 .text {margin-bottom: 1rem;}
}
@media (max-width: 575px) {
.banner-step {--img-size: 3.125rem;padding-inline: 1rem;}
.banner-step::before {font-size: var(--h3);}
.banner-step__title {font-size: 0.875rem;}
.banner-form {padding: 1rem;}
}
.banner-section {opacity: 1;}
/*--------------------*/
/*  Popups            */
/*--------------------*/
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;transition-delay: 0.3s;display: block;}
.popup-wrapper .bg-layer {position: absolute;left: 0;right: 0;top: -6.25rem;bottom: -6.25rem;background: rgba(19, 30, 41, 0.8);opacity: 0;transition: opacity var(--transition-1);}
.popup-wrapper.active {left: 0;transition-delay: 0s;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;inset: 0;font-size: 0;text-align: center;letter-spacing: 0;padding: 0.9375rem;overflow: auto;-webkit-overflow-scrolling: touch;backface-visibility: hidden;opacity: 0;visibility: hidden;transform: translateY(6.25rem);transition: var(--transition-1);}
.popup-content.active {transform: translateY(0%);opacity: 1;visibility: visible;}
.popup-content:after {content: "";display: inline-block;vertical-align: middle;height: 100%;}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 625rem;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 41.25rem;background: var(--clr-white);border-radius: var(--rd-1);}
.popup-container.size-2 {max-width: 48.75rem;}
.popup-container .btn-close {position: absolute;z-index: 10;top: 1.25rem;right: 1.25rem;}
.popup-align {position: relative;z-index: 1;padding: 3rem 4rem;}
.popup-info > * + * {margin-top: 3%;}
.open-popup {cursor: pointer;}
@media (max-width: 575px) {
.popup-container .btn-close {top: 0.25rem;right: 0.25rem;}
.popup-align {padding: 2.5rem 1rem;}
}
/*--------------------*/
/*  404               */
/*--------------------*/
.page-404 {margin: 0;padding: 2.5rem 0;width: 100%;min-height: calc(100svh - var(--h-height));display: flex;align-items: center;justify-content: center;}
.page-404-inner .text {margin-top: 1rem;}
.page-404-inner .btn {margin-top: 1.25rem;}
.page-404-img {display: block;}
.page-404-img img {width: 100%;}
@media (max-width: 767px) {
.page-404-inner {text-align: center;}
.page-404-inner .text {margin-top: 0.5rem;}
.page-404-inner .btn {margin-top: 0.875rem;}
}
/*--------------------------*/
/*  Tabs (not for styling)  */
/*--------------------------*/
._tabs {position: relative;}
:where(._tab) {display: none;}
/* ._tab:nth-child(1 of ._tab) {display: block;} */
._tab-item {transition: var(--transition-1);cursor: pointer;}
._tab-item.is-active {pointer-events: none;}
.banner-container.size2 {
    max-width: 37.8125rem;
}
._tab:not(.active){
    display: none;
}
._tab.active{
    display: block!important;
}