@use "./../mixins"as *;

/*--------------------------*/
/*  Tabs (not for styling)  */
/*--------------------------*/
._tabs {
  position: relative;
}

:where(._tab) {
  display: none;
}

._tab:nth-child(1 of ._tab) {
  display: block;
}

._tab-item {
  transition: var(--transition-1);
  cursor: pointer;
}

._tab-item.is-active {
  pointer-events: none;
}