@use "./../mixins" as *;

/*--------------------*/
/*  Buttons           */
/*--------------------*/
.btn {
    cursor: pointer;
    user-select: none;
    overflow: clip;
    text-decoration: none;
    flex-shrink: 0;

    position: relative;
    z-index: 1;
    font-family: var(--ff-4);
    font-size: 1rem;
    line-height: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--clr-white);
    
    padding: 0.8em 1.6em 0.713em;
    border: none;
    background-color: var(--clr-black);
    transition: var(--transition-1);

    gap: .8em;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-primary {
        background-color: var(--clr-primary);
        color: var(--clr-white);
    }

    &-secondary {
        background-color: var(--clr-white);
        color: var(--clr-black);
    }

    svg {
        color: currentColor;

        *[stroke] {
            stroke: currentColor;
        }

        *[fill] {
            fill: currentColor;
        }
    }

    &-block {
        width: 100%;
    }

    &.disabled {
        pointer-events: none;
        background-color: var(--clr-grey);
    }

    &:has(svg:only-child) {
        padding: 0.9em;

        svg {
            width: 1.2em;
            height: 1.2em;
        }
    }
}

.btn-close {
    display: inline-block;
    position: relative;
    cursor: pointer;
    --bw: 2.75rem;
    width: var(--bw);
    height: var(--bw);
    color: var(--clr-white);
    border-radius: 100%;
    background-color: var(--clr-black);
    transition: var(--transition-1);

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 0.125rem;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: currentColor;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.btn-link {
    gap: 0.5em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.38em;
    color: var(--clr-title);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: var(--transition-1);
}

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(45);
    height: rem(45);
    border: rem(1) solid var(--clr-border);
    color: var(--clr-black);
}

@include minMedia(xl) {
    .btn:hover {
        background-color: var(--clr-secondary);
    }

    .btn-primary:hover {
        color: var(--clr-white);
        background-color: var(--clr-secondary);
    }

    .btn-secondary:hover {
        color: var(--clr-white);
        background-color: var(--clr-secondary);
    }

    .btn-close:hover {
        color: var(--clr-red);
        background-color: var(--clr-grey);
    }

    .btn-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
        text-decoration-color: currentColor;
    }

    .btn-back:hover {
        border-color: var(--clr-black);
    }
}