@use "./../mixins"as *;

/*----------------------*/
/*  Main Global         */
/*----------------------*/
:root {
    --root-scale: 1rem;
    --container-width: 100%;

    --ff-1: "Akzidenz-Grotesk Pro";
    --ff-2: "Akzidenz-Grotesk Pro Med Ext";
    --ff-3: "Manrope", sans-serif;
    --ff-4: "Akzidenz-Grotesk Pro Ext";

    // from 1680px to 768px
    --h1: clamp(1.88rem, calc(0.30rem + 3.29vw), 3.75rem); //30px - 60px
    --h2: clamp(1.63rem, calc(0.15rem + 3.07vw), 3.38rem); //26px - 54px
    --h3: clamp(1.50rem, calc(0.45rem + 2.19vw), 2.75rem); //24px - 44px
    --h4: clamp(1.375rem, 1.163rem + 0.906vw, 2.25rem); //22px - 36px
    --h5: clamp(1.25rem, calc(1.04rem + 0.44vw), 1.50rem); //20px - 24px
    --h6: clamp(1.00rem, calc(0.79rem + 0.44vw), 1.25rem); //16px - 20px

    --text: clamp(1.00rem, calc(0.79rem + 0.44vw), 1.25rem); //16px - 20px
    --text-sm: clamp(1rem, calc(0.8947rem + 0.2193vw), 1.125rem); //16px - 18px

    --sp-xl: clamp(3.75rem, calc(-0.46rem + 8.77vw), 8.75rem); //60px - 140px
    --sp-lg: clamp(3.75rem, calc(1.64rem + 4.39vw), 6.25rem); //60px - 100px
    --sp-md: clamp(1.88rem, calc(0.30rem + 3.29vw), 3.75rem); //30px - 60px
    --sp-sm: clamp(0.94rem, calc(0.15rem + 1.64vw), 1.88rem); //15px - 30px
    --sp-xs: clamp(0.75rem, 2.1316rem + -1.3158vw, 1.5rem); //12px - 24px


    --rd-1: 6.25rem;


    --clr-title: #131E29;
    --clr-text: #6B6969;
    --clr-plc: #4A5055;
    --clr-input: #D3D3D3;
    --clr-border: #E0E0E0;
    --clr-border-2: #4E4E4E;
    --clr-border-3: rgba(128, 128, 128, 0.4);


    --clr-white: #ffffff;
    --clr-white-80: rgba(255,255,255,.8);
    --clr-black: #000;
    --clr-black-80: rgba(0,0,0,.8);
    --clr-black-70: rgba(0,0,0,.7);
    --clr-black-60: rgba(0,0,0,.6);
    --clr-black-50: rgba(0,0,0,.5);
    --clr-black-35: rgba(0,0,0,.35);
    --clr-black-30: rgba(0,0,0,.3);
    --clr-black-20: rgba(0,0,0,.2);
    --clr-black-10: rgba(0,0,0,.1);
    --clr-grey: #F4F4F4;
    --clr-red: #EC0623;
    --clr-green: #00A850;
    --clr-icon: #808080;


    --clr-primary: #EC0623;
    --clr-secondary: #2F2F2F;


    --bg-1: var(--clr-grey);
    --bg-2: #f2f2f2;
    --bg-3: #F3F3F3;
    --bg-4: rgba(224, 224, 224, 0.35);
    --bg-5: #E9E9E9;

    --blur: 0.3125rem;
    --bg-overlay: rgba(0, 0, 0, 0.5);
    --box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    --box-shadow-1: 0px 4px 8px 3px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.25);

    --transition-1: .3s ease;
    --cubic-1: .5s cubic-bezier(0.65, 0, 0.35, 1);
}

html {
    font-size: var(--root-scale);

    &.keyboard-focus:focus {
        outline: auto;
    }

    &.overflow-menu,
    &.overflow-hidden {
        overflow: clip;

        body {
            overflow: clip;
        }
    }
}

.overflow-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 90;
    inset: 0;
    background-color: var(--bg-overlay);
    backdrop-filter: blur(var(--blur));
    transition: var(--cubic-1);
}

#content-block {
    position: relative;
    min-height: 100svh;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    opacity: 0;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-1);
    flex: 1;

    .seo-section {
        order: 1;
    }
}

footer {
    margin-top: auto;
}

:where(.section:first-child) {
    margin-top: var(--sp-md);
}

:where(.section+.section) {
    margin-top: var(--sp-xl);
}

:where(.section:last-child) {
    margin-bottom: var(--sp-xl);
}

:where(.section:only-child) {
    margin-bottom: 0;
}

.section {
    will-change: opacity;
    position: relative;
    opacity: 0;

    &.animated {
        opacity: 1;
        transition: 0.15s linear opacity;
    }
}

.container,
.container-fluid {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    margin-inline: auto;
    padding-inline: calc(var(--bs-gutter-x) * 0.5);
}

.swiper-container {
    will-change: opacity;
    opacity: 0;

    &.swiper-initialized {
        opacity: 1;
        transition: 0.15s linear opacity;
    }
}

.informer,
.cart,
.cart-informer,
.cookies-informer,
.popup-wrapper {
    display: none;
}

// container size change 
@include minMedia(xl) {
    :root {
        --container-width: 89.604vw;
    }

    .container {
        width: var(--container-width);
    }
}

// scale for 14` mac 
@media (min-width: 1200px) and (max-width: 1380px) {
    :root {
        --root-scale: 0.875rem;
    }
}

// scale for laptop
@media (min-width: 1381px) and (max-width: 1680px) {
    :root {
        --root-scale: 0.875rem;
    }
}

// scale more then 2k displays
@include minMedia(2100) {
    html {
        font-size: 1.375rem;
    }
}

// scale more then 2k displays
@include minMedia(2600) {
    html {
        font-size: 2rem;
    }
}